doctype html
html(lang="en")
  head
    meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1")
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    //<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- build:css css/style.css -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!-- endbuild -->
  
    <!-- build:js js/app.js -->
    <script src="js/index.js"></script>
    <!-- endbuild -->

    title: | Notenrechner
    <meta content="width=device-width" name="viewport">
    <meta name="viewport" content="user-scalable=yes">
  body
    div.jumbotron
      h1: a(href=""): | Notenrechner
    div#icons
      div#overall-note.invisible: | 0
      a#switch-view: i(class="fa fa-reorder")
      input#url(style="display:none;")
      a#save: i(class="fa fa-floppy-o")  zur Clipboard
    form#mainform
      table#temp.classes